<div class="induction">
    <div class="col-md-9 no-padding">
        <div class="left-container">
            <div class="top-content">
                <div class="col-md-7 col-sm-6 col-xs-6">
                    <div class="row">
                        <h4 class="breadcrumbs">HR > New Induction</h4>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-12 body-content">
                <div class="row">
                    <div class="frmInduction">
                        <div class="header" style="padding-bottom:0px;">
                            <h4>NEW INDUCTION</h4>
                        </div>
                        <div class="body">
                            <form class="frmNewInduction">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 no-padding-l">
                                            <p>TITLE</p>
                                        </div>
                                        <div class="col-md-9 no-padding-r">
                                            <input class="form-control" type="text" name="title" ng-model="hrInduction.new.title">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 no-padding-l">
                                            <p>VIDEO LINK</p>
                                        </div>
                                        <div class="col-md-9 no-padding-r">
                                            <input class="form-control" type="text" name="video_link" ng-model="hrInduction.new.video_link">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 no-padding-l">
                                            <p>DESCRIPTION</p>
                                        </div>
                                        <div class="col-md-9 no-padding-r">
                                            <input class="form-control" type="text" name="video_link" ng-model="hrInduction.new.description">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 no-padding-l">
                                            <p>Categories</p>
                                        </div>
                                        <div class="col-md-9 no-padding-r">
                                            <div class="checkbox" ng-repeat="category in hrInduction.categoryList">
                                                <input type="checkbox" value="" ng-model="category.isChecked">
                                                <label class="checkbox-category"></label>
                                                <span> {{category.name}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="questions">

                                            <div class="question" ng-repeat="question in hrInduction.questions track by $index">
                                                <button type="button" class="btn btn-primary pull-right" ng-click="hrInduction.removeQuestion(question.sid)">REMOVE QUESTION</button>

                                                <div class="col-md-12 no-padding">
                                                    <label>Question {{$index + 1}}</label>
                                                    <input class="form-control" type="text" name="question" ng-model="question.question">

                                                    <div class="option">
                                                        <div class="col-md-5ths padding-half-r " ng-repeat="option in question.options">
                                                            <label>{{option.option}}</label>
                                                            <input class="form-control" name="option[1]" type="text" ng-model="option.value">
                                                        </div>
                                                    </div>

                                                    <div class="answer">
                                                        <div class="col-md-3 no-padding">
                                                            <label>Answer</label>
                                                            <select class="chosen-select" data-placeholder="&nbsp;" ng-model="question.answer">
                                                                <option value=""></option>
                                                                <option value="" ng-repeat="option in question.options" ng-value="option.value" ng-if="option.value.length > 0">{{option.value}}</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="clearfix"></div>
                                            </div>


                                            <div class="btn-action">
                                                <button type="button" class="btn btn-primary" ng-click="hrInduction.addQuestion()"><i class="fa fa-plus" aria-hidden="true"></i> ADD QUESTION</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                            <div class="btn-con margin-t-15">
                                <button type="button" role="btn" class="btn btn-primary btn-save pull-right top-page-btn margin-t-15" ng-click="hrInduction.save()"><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="row">
            <div class="right-container btn-action">
                <div class="sidebar-usage">
                    <div class="btn-action">
                        <button type="button" class="btn btn-primary" ui-sref="main.hr.induction">INDUCTION MANAGEMENT</button>
                        <button type="button" class="btn btn-primary">EXPORT INDUCTION REGISTER</button>
                        <button type="button" class="btn btn-primary" ui-sref="main.hr.induction-list">EDIT CURRENT INDUCTIONS</button>
                        <button type="button" class="btn btn-primary btn-common active" ui-sref="main.hr.induction-add">ADD NEW INDUCTIONS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
