<div class="col-md-12 no-padding ohs">
    <div class="left-container">
        <div class="top-content">
            <div class="col-md-7 col-sm-6 col-xs-6">
                <div class="row">
                    <h4 class="breadcrumbs">ADMIN > CREWS</h4>
                </div>
            </div>
            <div class="col-md-3 pull-right">
                <div class="row btn-action">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary pull-right top-page-btn" data-toggle="modal" data-target=".add-crew">
                        <span class="add-sign">+</span> ADD NEW CREW
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-12 bottom-content registers">
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="30%">CREW NAME</th>
                        <th>PROJECT</th>
                        <th>MEMBERS</th>
                        <th>DATE CREATED</th>
                        <th>DATE MODIFIED</th>
                        <th>OPEN</th>
                    </tr>
                    </thead>
                    <tbody class="content-white">
                    <tr class="border-bottom" ng-repeat="item in admin.list">
                        <td>{{ item.name }}</td>
                        <td class="color-blue">{{ item.project.name }}</td>
                        <td class="color-blue">{{  }}</td>
                        <td class="color-blue">{{ item.created_at | moment : 'YYYY-MM-DD' }}</td>
                        <td class="color-blue">{{ item.updated_at | moment : 'YYYY-MM-DD' }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editCrew" ng-click="admin.edit(item)">OPEN</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>


<!-- Modal -->
<div class="modal fade add-crew" id="addCrew" tabindex="-1" role="dialog" aria-labelledby="addCrewLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span style="text-transform:uppercase;color:#fff">ADD CREW</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group m-bottom-10">
                    <div class="row">
                        <div class="col-md-2">
                            <p class="m-top-10 no-margin-bottom">Name</p>
                        </div>
                        <div class="col-md-10">
                            <input ng-model="admin.new.name" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group m-bottom-10">
                    <div class="row">
                        <div class="col-md-2">
                            <p class="m-top-10 no-margin-bottom">PROJECT</p>
                        </div>
                        <div class="col-md-10">
                            <select ng-model="admin.new.project_id" class="form-control">
                                <option ng-repeat="project in admin.projects" ng-value="project.id">{{ project.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center no-padding-b">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" ng-click="admin.add()">
                        ADD CREW
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal2 for editing crew -->
<div class="modal fade" id="editCrew" tabindex="-2" role="dialog" aria-labelledby="editCrewLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span style="text-transform:uppercase;color:#fff">EDIT CREW</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group m-bottom-10">
                    <div class="col-md-2">
                        <p class="m-top-10 no-margin-bottom">NAME</p>
                    </div>
                    <div class="col-md-10">
                        <input ng-model="admin.view.name" class="form-control">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group m-bottom-10">
                    <div class="col-md-2">
                        <p class="m-top-10 no-margin-bottom">PROJECT</p>
                    </div>
                    <div class="col-md-10">
                        <select ng-model="admin.view.project_id" class="form-control">
                            <option ng-repeat="project in admin.projects" ng-value="project.id">{{ project.name }}</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer text-center no-padding-b">
                    <!-- <button ng-click="admin.update()" class="btn btn-primary" data-miss="modal">UPDATE CREW</button> -->
                    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" ng-click="admin.update()">
                        UPDATE CREW
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
