<div class="col-md-12 no-padding ohs">
    <div class="left-container">
        <div class="top-content">
            <div class="col-md-7 col-sm-6 col-xs-6">
                <div class="row">
                    <h4 class="breadcrumbs">OHS</h4>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-12 body-content">
            <div class="row">

                <div class="grid">

                    <div class="grid-item">
                        <a ui-sref="main.erp.list" ng-if="ohs.hasModule('emergency_info')">
                            <div class="img-con">
                                <img class="img-responsive" src="../../img/ohs/erp-details.png" alt="ERP Details" title="ERP Details">
                            </div>
                            <div class="title">
                                <p>ERP Detail</p>
                            </div>
                        </a>
                    </div>

                    <div class="grid-item">
                        <a ui-sref="main.alert.index" ng-if="ohs.hasModule('alerts')">
                            <div class="img-con">
                                <img class="img-responsive" src="../../img/ohs/alerts.png" alt="Alerts" title="Alerts">
                            </div>
                            <div class="title">
                                <p>Alerts</p>
                            </div>
                        </a>
                    </div>

                    <div class="grid-item">
                        <a ui-sref="main.skill-requirements.list">
                            <div class="img-con">
                                <img class="img-responsive" src="../../img/ohs/skill.png" alt="Skill Requirements" title="Skill Requirements">
                            </div>
                            <div class="title">
                                <p>Skill Requirements</p>
                            </div>
                        </a>
                    </div>

                    <div class="grid-item">
                        <a ui-sref="main.register.corrective-actions">
                            <div class="img-con">
                                <img class="img-responsive" src="../../img/ohs/corrective.png" alt="Corrective Actions" title="Corrective Actions">
                            </div>
                            <div class="title">
                                <p>Corrective Actions</p>
                            </div>
                        </a>
                    </div>

                    <!-- <div class="grid-item">
                        <a ui-sref="main.golden-rules.list">
                            <div class="img-con">
                                <img class="img-responsive" src="../../img/ohs/golden-rules.png" alt="Golden Rules" title="Golden Rules">
                            </div>
                            <div class="title">
                                <p>Golden Rules</p>
                            </div>
                        </a>
                    </div> -->

                    <div class="grid-item">
                        <a ui-sref="main.messaging.index">
                            <div class="img-con">
                                <img class="img-responsive" src="../../img/ohs/messaging.png" alt="Messaging" title="Messaging">
                            </div>
                            <div class="title">
                                <p>Messaging</p>
                            </div>
                        </a>
                    </div>

                    <div class="grid-item">
                        <a  ui-sref="main.skill-gap.list">
                            <div class="img-con">
                                <img class="img-responsive" src="../../img/ohs/skills-gap.png" alt="Skills Gap Analysis" title="Skills Gap Analysis">
                            </div>
                            <div class="title">
                                <p>Skills Gap Analysis</p>
                            </div>
                        </a>
                    </div>

                    <div class="grid-item">
                        <a ui-sref="main.register.observations">
                           <!-- ng-if="ohs.hasModule('observations')" -->
                            <div class="img-con">
                                <img class="img-responsive" src="../../img/ohs/observation.png" alt="Observation Register" title="Observation Register">
                            </div>
                            <div class="title">
                                <p>Observation Register</p>
                            </div>
                        </a>
                    </div>

                    <div class="grid-item">
                        <a ui-sref="main.chemical.list" ng-if="ohs.hasModule('chemical_mgt')">
                            <div class="img-con">
                                <img class="img-responsive" src="../../img/ohs/chemical-management.png" alt="Chemical Management" title="Chemical Management">
                            </div>
                            <div class="title">
                                <p>Chemical Management</p>
                            </div>
                        </a>
                    </div>

                    <div class="grid-item">
                        <a ui-sref="main.safety-videos.list" ng-if="ohs.hasModule('safety_vids')">
                            <div class="img-con">
                                <img class="img-responsive" src="../../img/ohs/safety-videos.png" alt="Safety Videos" title="Safety Videos">
                            </div>
                            <div class="title">
                                <p>Safety Videos</p>
                            </div>
                        </a>
                    </div>

                    <div class="grid-item">
                        <a ui-sref="main.inspections.list" ng-if="ohs.hasModule('inspection')">
                            <div class="img-con">
                                <img class="img-responsive" src="../../img/ohs/inspections.png" alt="Inspections/Checklists" title="Inspections/Checklists">
                            </div>
                            <div class="title">
                                <p>Inspections/Checklists</p>
                            </div>
                        </a>
                    </div>

                    <div class="grid-item">
                        <a ui-sref="main.register.inspections">
                            <div class="img-con">
                                <img class="img-responsive" src="../../img/ohs/inspection-register.png" alt="EInspection Register" title="EInspection Register">
                            </div>
                            <div class="title">
                                <p>Inspection Register</p>
                            </div>
                        </a>
                    </div>

                    <div class="grid-item">
                        <a ui-sref="main.online-training.list">
                            <div class="img-con">
                                <img class="img-responsive" src="../../img/ohs/online-traning.png" alt="Online Training" title="Online Training">
                            </div>
                            <div class="title">
                                <p>Online Training</p>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>
<script type="text/javascript">
    (function( $ ) {
        var $container = $('.grid'),
                colWidth = function () {
                    var w = $container.width(),
                            columnNum = 1,
                            columnWidth = 0;

                    if (w > 1200) {
                        columnNum  = 6;
                    } else if (w > 900) {
                        columnNum  = 4;
                    } else if (w > 600) {
                        columnNum  = 4;
                    } else if (w > 300) {
                        columnNum  = 4;
                    } else if (w < 300) {
                        columnNum  = 2;
                        columnWidth = 0;
                    }

                    columnWidth = Math.floor(w/columnNum);
                    $container.find('.grid-item').each(function() {
                        var $item = $(this),
                                multiplier_w = $item.attr('class').match(/item-w(\d)/),
                                multiplier_h = $item.attr('class').match(/item-h(\d)/),
                                width        = multiplier_w ? columnWidth * multiplier_w[1]-4 : columnWidth-20,
                                height       = multiplier_h ? columnWidth * multiplier_h[1] * 0.5-4 : columnWidth * 1-24;;
                        if( columnNum == 1 ){
                            width = columnWidth;
                        }

                        $item.css({
                            width: width,
                            height: height
                        });
                    });
                    return columnWidth;

                },
                isotope = function () {

                    var $grid = $container.isotope({
                        itemSelector: '.grid-item',
                        layoutMode: 'fitRows',
                        fitRows: {
                            columnWidth: colWidth(),
                            gutter: 15
                        }
                    });
                    $grid.imagesLoaded().progress( function() {
                        $grid.isotope('layout');
                    });
                };
        isotope();

        $(window).on('debouncedresize', isotope);
    })( jQuery );
</script>
