<style>
    .active {
        background: #157CC4 !important;
        color: white !important;
    }
</style>
<div class="col-md-12 no-padding">
    <div class="left-container">
        <div class="top-content">
          <div class="col-md-8 col-sm-6 col-xs-6">
            <div class="row">
              <h4 class="breadcrumbs">OHS &gt; SKILL REQUIREMENTS</h4>
            </div>
          </div>
          <div class="col-md-4 pull-right">
            <div class="row btn-action">
              <button type="button" role="btn" class="btn btn-primary pull-right top-page-btn" data-toggle="modal" data-target="#add-role">+ ADD NEW ROLE</button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="bottom-content">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>ROLE</th>
                    <th>REQUIRED SKILLS</th>
                    <th width="20%">OPEN</th>
                  </tr>
                </thead>
                <tbody class="content-white">
                  <tr ng-repeat="role in skillReq.lists">
                    <td style="text-transform:capitalize;">{{ role.name }}</td>
                    <td class="fc-blue" style="text-transform:capitalize;">{{ role.skills.length }} Skills</td>
                    <td class="color-blue">
                      <button class="btn btn-primary" ui-sref="main.skill-requirements.skills({id:role.id})">OPEN</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

<div id="add-role" class="modal fade bs-example-modal-lg" tabindex="-2" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span style="text-transform:uppercase;color:#fff">ADD NEW ROLE</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="col-md-2">
            <p class="m-top-10">Role Name</p>
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control" name="roles" ng-model="skillReq.new.name">
          </div>
          <div class="col-md-2 text-right">
            <button class="btn btn-primary" ng-click="skillReq.add()" data-dismiss="modal" aria-label="Close">ADD</button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
