<div cg-busy="{promise:induction.promise, templateUrl:'/partials/loader.html', minDuration: 700}"></div>
<div class="col-md-12">
    <div class="row">
        <div class="content-container">
            <span class="back" ui-sref="main.inductions.list"><img class="img-responsive" src="../../img/client/arrow-back.png"> <label>Back</label></span>
            <span class="continue" ui-sref="main.inductions.questions({id:induction.view.id})">Continue</span>
            <div class="videos-container col-md-12">
                <div class="video-title">
                    <h4>{{induction.view.title}}</h4>
                </div>
                <div class="video-player">
                    <div id="link-holder" ng-if="induction.view.isVimeo" ng-bind-html="induction.view.htmlVideo | html">
                    </div>
                    <div id="video-link" ng-show="!induction.view.isVimeo"><a href="{{induction.view.video_link}}"></a></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-12 bottom-logo">
            <img class="img-responsive" src="../../img/client/helix-logo.png"/>
        </div>

    </div>
</div>

<div class="clearfix"></div>

<script type="text/javascript">
    $(document).ready(function() {
        setTimeout(function() {
            console.log('display video');
            $('#video-link').embedly({query: {maxwidth: 350}, key: 'internal'});
        }, 500);
    });
</script>
