<div class="onboarding">
  <div class="col-md-12 no-padding">
    <div class="left-container">
      <div class="top-content">
        <div class="col-md-9 col-sm-6 col-xs-6">
          <div class="row">
            <h4 class="breadcrumbs">HR > {{grProgram.view.first_name}} {{grProgram.view.last_name}} > Greenhat Program</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="row">
            <button class="btn btn-primary btn-save pull-right top-page-btn" type='button' role='btn' ng-click="feedback.submitFeedback()">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="col-md-12 body-content">
        <div class="row">
          <div class="frmghpenrollment">
            <div class="tab-header">
              <h4>Greenhat Program</h4>
            </div>
            <div class="body">
              The following test reviews information covered in a company health and safety orientation. It is recommended that you develop
              a written test that is specific to your health and safety program. Workers that successfully complete the health and safety review
              wil graduate out of the greem hands sticker.


                <div class="form-group">
                  <label>1. What would you do if you noticed an unsafe condition at the worksite?</label>
                  <div class="clearfix"></div>
                  <textarea name="name" class="form-control" rows="4" ng-model="feedback.dynamic.unsafe_cond"></textarea>
                </div>
                <div class="form-group">
                  <label>3. List your 3 rights as a worker</label>
                  <div class="clearfix"></div>
                    <input type="text" name="" class="form-control" ng-model="feedback.dynamic.right_one">
                    <input type="text" name="" class="form-control" ng-model="feedback.dynamic.right_two">
                    <input type="text" name="" class="form-control" ng-model="feedback.dynamic.right_three">
                </div>
                <div class="form-group">
                  <label>2. List your Health and Safety related responsibilities.</label>
                  <div class="clearfix"></div>
                  <textarea name="name" class="form-control" rows="4" ng-model="feedback.dynamic.resp"></textarea>
                </div>
                <div class="form-group">
                  <label>4. What are the workplace health and safety rules?</label>
                  <div class="clearfix"></div>
                  <textarea name="name" class="form-control" rows="4" style="height: 128px;" ng-model="feedback.dynamic.wp_rules"></textarea>
                </div>
                <div class="form-group">
                    <label> 5. List hazards that you face at work, and explain what you do to protect yourself from those hazards.</label>
                      <div class="clearfix"></div>
                      <textarea name="name" class="form-control" rows="4" ng-model="feedback.dynamic.haz_at_work"></textarea>
                </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
