<div class="onboarding">
  <div class="col-md-12 no-padding">
    <div class="left-container">
      <div class="top-content">
        <div class="col-md-9 col-sm-6 col-xs-6">
          <!-- <div class="row">
            <h4 class="breadcrumbs">HR > {{grProgram.view.first_name}} {{grProgram.view.last_name}} > Greenhat Program</h4>
          </div> -->
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="row">
            <button class="btn btn-primary btn-save pull-right top-page-btn" type='button' role='btn' ng-click="feedback.submitFeedback()">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="col-md-12 body-content">
        <div class="row">
          <div class="frmghpenrollment">
            <div class="tab-header">
              <h4>greenhat program - hr</h4>
            </div>
            <div class="body">
              The following test reviews information covered in a company health and safety orientation. It is recommended that you develop
              a written test that is specific to your health and safety program. Workers that successfully complete the health and safety review
              wil graduate out of the greem hands sticker.
              
              <div class="form-wrapper cleafix">
                  <div class="form-group clearfix">
                    <p style="float:left; font-weight: bold;">Has the worker been made aware of their prestart and inspection requirements?</p>
                    <div class="switch" style="float:right;">
                      <input type="checkbox" name="checkbox1" class="ios-toggle" id="checkbox1" ng-model="feedback.dynamic.prestart_req">
                      <label for="checkbox1" class="slider round"></label>
                    </div>
                  </div>
                  <div class="form-group clearfix">
                    <p style="float:left; font-weight: bold;">Does the worker required additional training?</p>
                    <div class="switch" style="float:right;">
                      <input type="checkbox" name="checkbox2" class="ios-toggle" id="checkbox2" ng-model="feedback.dynamic.trainig">
                      <label for="checkbox2" class="slider round"></label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Is the worker aware of the safety equipment?</label>
                    <div class="clearfix"></div>
                    <textarea name="name" style="width: 100%; padding:6px; resize: none;" rows="4" ng-model="feedback.dynamic.safe_equip"></textarea>
                  </div>
                  <div class="form-group">
                    <label>Has the worker reviewed the plant risk assessment?</label>
                    <div class="clearfix"></div>
                    <textarea name="name" style="width: 100%; padding:6px; resize: none;" rows="4" ng-model="feedback.dynamic.rist_assess"></textarea>
                  </div>
                  <div class="form-group">
                    <label>General Comment</label>
                    <div class="clearfix"></div>
                    <textarea name="name" style="width: 100%; padding:6px; resize: none;" rows="4" ng-model="feedback.gen_comment"></textarea>
                  </div>
                  <div class="form-group clearfix">
                    <p style="float:left; font-weight: bold;">As the Plant Department Manager, has {{ feedback.fullname }} met their Greenhat Program requirements?</p>
                    <div class="switch" style="float:right;">
                      <input type="checkbox" name="checkbox3" class="ios-toggle" id="checkbox3" ng-model="feedback.dynamic.met_req">
                      <label for="checkbox3" class="slider round"></label>
                    </div>
                  </div>
              </div>
            
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<style media="screen">
  .form-wrapper{
    padding: 40px 0 0 0;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
  }

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -5px;
    top: -3px;
    background-color: #157CC4;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>