<div class="col-md-12 no-padding ohs">
  <div class="left-container">
    <div class="top-content">
        <div class="col-md-7 col-sm-6 col-xs-6">
            <div class="row">
                <h4 class="breadcrumbs">OHS &gt; SKILL GAP ANALYSIS</h4>
            </div>
        </div>
        <div class="col-md-5 pull-right">
            <div class="row">
              <div class="pull-left btn-action">
                <button type="button" role="btn" ng-click="skillGap.exportType = 'month'" class="btn btn-primary pull-right top-page-btn" data-toggle="modal" data-target="#skillsGapExport"><span class="add-sign"><img src="../../img/export-icon.png" style="width: 15px;margin-top: -6px;"></span> EXPORT BY MONTH</button>
              </div>
              <div class="pull-right btn-action">
                  <button type="button" role="btn" ng-click="skillGap.exportType = 'employee'" class="btn btn-primary pull-right top-page-btn" data-toggle="modal" data-target="#skillsGapExport"><span class="add-sign"><img src="../../img/export-icon.png" style="width: 15px;margin-top: -6px;"></span> EXPORT BY EMPLOYEE</button>
              </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-12 body-content registers inspections">
      <div class="row">

        <div class="chart">
          <div class="col-md-8">
            <div class="row">
              <h4 class="fc-blue">TRENDING SKILL COMPLIANCE</h4>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <h4 class="fc-blue">SKILL GAP</h4>
            </div>
          </div>
          <div class="clearfix"></div>

          <hr>
          <div class="chart-content">
            <div class="col-md-8 padding-half-r">
              <canvas id="bar" class="chart chart-bar" chart-data="skillGap.chart.data" chart-labels="skillGap.chart.labels" chart-series="series" chart-colors="skillgap.chart.colors" chart-options="skillGap.chart.options"></canvas>
            </div>
            <div class="col-md-4 padding-half-l results">
              <canvas id="pie" class="chart chart-pie" chart-data="skillGap.pie.data" chart-labels="skillGap.pie.labels" chart-options="options" chart-colors="colors" chart-dataset-override="dataset"></canvas>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <table class="table table-striped content-white">
          <thead>
            <tr>
              <th>NAME</th>
              <th width="10%">STATUS</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-bottom" ng-repeat="employee in skillGap.list">
              <td>{{ employee.name }}</td>
              <td ng-if="employee.status=='skilled'">{{ employee.status }}</td>
              <td ng-if="employee.status!='skilled'" class="fc-orange">{{ employee.status }}</td>
            </tr>
          </tbody>
        </table>
        <div class="clearix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="clearfix"></div>

<!-- Modal -->
<div class="modal fade export" id="skillsGapExport" tabindex="-1" role="dialog" aria-labelledby="addCrewLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span style="text-transform:uppercase;color:#fff">EXPORT TO CSV</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger alert-dismissable" ng-repeat="error in skillGap.modalErrors">
                    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ error }}
                </div>
                <div class="form-group m-bottom-10">
                    <div class="row">
                        <div class="col-md-2">
                            <p class="m-top-10 no-margin-bottom">From</p>
                        </div>
                        <div class="col-md-10">
                            <input type="text" class="form-control from_date" ng-model="skillGap.filter_from_date">
                            <span class="calendar-icon"><img src="http://localhost/img/client/calendar-icon.png"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group m-bottom-10">
                    <div class="row">
                        <div class="col-md-2">
                            <p class="m-top-10 no-margin-bottom">To</p>
                        </div>
                        <div class="col-md-10">
                            <input type="text" class="form-control to_date" ng-model="skillGap.filter_to_date">
                            <span class="calendar-icon"><img src="http://localhost/img/client/calendar-icon.png"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center no-padding-b">
                    <a id="skillGapExport" type="button" class="btn btn-primary" ng-click="skillGap.exportCsv()">
                        DOWNLOAD
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
(function( $ ) {
    $('.chosen-select').chosen({
        no_results_text: "Oops, nothing found!",
        width: "100%"
    });
    $( ".from_date, .to_date" ).datepicker();

    function checkDate()
    {
        console.log('xxxx');
        return false;
    }
})( jQuery );
</script>
