<div class="col-md-12">
    <div class="row">
        <div class="content-container">
            <span class="back" ui-sref="main.home"><img class="img-responsive" src="../../img/client/arrow-back.png"> <label>Back</label></span>

            <div class="sub-head">
                <div class="col-md-12">
                    <p>OBSERVATIONS</p>
                </div>
            </div>

            <div class="inspections-content col-md-12">
                <div class="body">
                    <button class="btn btn-primary" ng-click="obs.getAssignments()">Assigned</button>
                    <button class="btn btn-primary" ng-click="obs.getList()">Observations</button>
                    LIST
                    tab: {{ obs.tab }}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>