<div class="col-md-12 no-padding ohs online-training">
  <div class="left-container">
    <div class="top-content">
      <div class="col-md-7 col-sm-6 col-xs-6">
        <div class="row">
          <h4 class="breadcrumbs">OHS &gt; ONLINE TRAINING</h4>
        </div>
      </div>
      <div class="col-md-3 pull-right">
        <div class="row btn-action">
          <button type="button" role="btn" class="btn btn-primary pull-right top-page-btn" href="javascript:void(0)" data-dialog="createDialog"><span class="add-sign"><img src="img/export-icon.png" style="width: 15px;margin-top: -6px;"></span> EXPORT</button>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-12 body-content registers">
      <div class="row">
        <h5 class="fc-white">ONLINE TRAINING REGISTER</h5>

        <div class="chart">
          <div class="col-md-12">
            <div class="row">
              <h4>TRAINING COMPLETED</h4>
            </div>
          </div>
          <div class="clearfix"></div>
          <hr>

          <div class="chart-content">
            <div class="col-md-12 padding-half-r">
              <canvas id="bar" class="chart chart-bar"
                      chart-data="vm.charts.bar_graph.data"
                      chart-labels="vm.charts.bar_graph.labels"
                      chart-series="series"
                      chart-colors="vm.charts.bar_graph.colors"
                      chart-options="vm.charts.bar_graph.options"
              ></canvas>
            </div>
            <div class="clearfix"></div>
          </div>

        </div>
        <div class="col-md-12 middle-content">
          <div class="row">
            <div class="search-con">
              <div class="col-md-8 no-padding-l">
                <div class="search">
                  <span><i class="fa fa-search" aria-hidden="true"></i></span>
                  <input type="text" placeholder="Search"
                         ng-model="vm.keywords"
                         ng-change="vm.search(vm.keywords)">
                  <!-- <button type="button" role="btn" class="btn btn-primary">SEARCH</button> -->
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="filter">
                    <select class="chosen-select" data-placeholder="FILTER PROJECT">
                      <option value=""></option>
                      @for ($i = 1; $i < 5; $i++)
                      <option value="">Option {{ $i }}</option>
                      @endfor
                    </select>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <table class="table content-white">
          <thead>
          <tr>
            <th>ID</th>
            <th>DATE</th>
            <th>EMPLOYEE</th>
            <th>TYPE</th>
            <th>TITLE</th>
            <th width="60">CERTIFICATE</th>
          </thead>
          <tbody>
          <tr class="border-bottom" ng-repeat="training in vm.trainings">
            <td>#{{ training.id }}</td>
            <td class="fc-blue">{{ training.created_at }}</td>
            <td class="fc-blue">{{ training.full_name }}</td>
            <td class="fc-blue">{{ training.type }}</td>
            <td class="fc-blue">{{ training.title }}</td>
            <td><a class="btn btn-primary" href="{{ training.pdf_url }}" target="_blank" >DOWNLOAD</a></td>
          </tr>
          </tbody>
        </table>
        <div class="clearix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="clearfix"></div>